<form>
  <div class="form-group row col-12">
    <label for="tnt" class="col-form-label col-3 offset-1" translate>TNT</label>
    <div class="col-4">
      <input [(ngModel)]="troponins.tnt" type="number" class="form-control" id="tnt" name="tnt">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="tnlUltra" class="col-form-label col-3 offset-1" translate>TNL ultra</label>
    <div class="col-4">
      <input [(ngModel)]="troponins.tnlUltra" type="number" class="form-control" id="tnlUltra" name="tnlUltra">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="tnl" class="col-form-label col-3 offset-1" translate>TNL</label>
    <div class="col-4">
      <input [(ngModel)]="troponins.tnl" type="number" class="form-control" id="tnl" name="tnl">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="tntAfter24h" class="col-form-label col-3 offset-1" translate>TNT after 24h</label>
    <div class="col-4">
      <input [(ngModel)]="troponins.tntAfter24h" type="number" class="form-control" id="tntAfter24h" name="tntAfter24h">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="tnlAfter24h" class="col-form-label col-3 offset-1" translate>TNL after 24h</label>
    <div class="col-4">
      <input [(ngModel)]="troponins.tnlAfter24h" type="number" class="form-control" id="tnlAfter24h" name="tnlAfter24h">
    </div>
  </div>
</form>
