<form>
  <div class="form-group row col-12">
    <label for="admissionDate" class="col-form-label col-3 offset-1" translate>Admission Date</label>
    <div class="col-4">
      <input type="date" class="form-control" id="admissionDate">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="operationDate" class="col-form-label col-3 offset-1" translate>Operation Date</label>
    <div class="col-4">
      <input type="date" class="form-control" id="operationDate">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="aorticAneurysmSymptoms" class="col-form-label col-3 offset-1" translate>Aortic Aneurysm Symptoms</label>
    <div class="col-4">
      <select class="form-control" id="aorticAneurysmSymptoms">
        <option hidden disabled selected value></option>
        <option translate>Yes</option>
        <option translate>No</option>
      </select>
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="aorticAneurysmSize" class="col-form-label col-3 offset-1" translate>Aortic Aneurysm Size</label>
    <div class="col-4">
      <input type="number" class="form-control" id="aorticAneurysmSize">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="iliacArteryAneurysmMaxSize" class="col-form-label col-3 offset-1" translate>Iliac Artery Aneurysm Max Size</label>
    <div class="col-4">
      <input type="number" class="form-control" id="iliacArteryAneurysmMaxSize">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="imagingExamination" class="col-form-label col-3 offset-1" translate>Imaging Examination</label>
    <div class="col-4">
      <input type="number" class="form-control" id="imagingExamination">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="aneurysmLocalization" class="col-form-label col-3 offset-1" translate>Aneurysm Localization</label>
    <div class="col-4">
      <input type="number" class="form-control" id="aneurysmLocalization">
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="smoking" class="col-form-label col-3 offset-1" translate>Smoking</label>
    <div class="col-4">
      <select class="form-control" id="smoking">
        <option hidden disabled selected value></option>
        <option>TODO</option>
      </select>
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="ASA" class="col-form-label col-3 offset-1" translate>ASA</label>
    <div class="col-4">
      <select class="form-control" id="ASA">
        <option hidden disabled selected value></option>
        <option>TODO</option>
      </select>
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="RCRI" class="col-form-label col-3 offset-1" translate>Revised Cardiac Risk Index</label>
    <div class="col-4">
      <select class="form-control" id="RCRI">
        <option hidden disabled selected value></option>
        <option>TODO</option>
      </select>
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="pPossum" class="col-form-label col-3 offset-1" translate>P-POSSUM</label>
    <div class="col-4">
      <select class="form-control" id="pPossum">
        <option hidden disabled selected value></option>
        <option>TODO</option>
      </select>
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="unconsciousness" class="col-form-label col-3 offset-1" translate>Unconsciousness</label>
    <div class="col-4">
      <select class="form-control" id="unconsciousness">
        <option hidden disabled selected value></option>
        <option translate>Yes</option>
        <option translate>No</option>
      </select>
    </div>
  </div>
  <div class="form-group row col-12">
    <label for="comments" class="col-form-label col-3 offset-1" translate>Comments</label>
    <div class="col-4">
      <input type="text" class="form-control" id="comments">
    </div>
  </div>
</form>
