<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <a class="navbar-brand" href="#" translate [translateParams]="{value: 12345}">Patient</a>
    <div class="collapse navbar-collapse center">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="personalData" translate>Personal Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admission" translate>Admission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="tests" translate>Tests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="comorbidities" translate>Comorbidities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="operation" translate>Operation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="complications" translate>Complications</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid flex">
    <div>
      <button type="button" class="btn btn-success vertical" translate>Save Patient Data</button>
      <button type="button" class="btn btn-danger vertical" translate>Exit Without Saving</button>
    </div>
    <div class="container-fluid center">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
