<div class="container">
  <h1>Patient {{ID}}</h1>
  <form>
    <div class="form-group">
      <label for="firstName" translate>First name</label>
      <input type="text" class="form-control" id="firstName" required>
    </div>
    <div class="form-group">
      <label for="lastName" translate>Last name</label>
      <input type="text" class="form-control" id="lastName" required>
    </div>
    <div class="form-group">
      <label for="sex" translate>Sex</label>
      <select class="form-control" id="sex" required>
        <option translate>Female</option>
        <option translate>Male</option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
