<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse col-3 col-centered rounded" style="margin-top: 60px">
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="chooseSearch()" translate>Search</a>
    </li>
  </ul>
  <div class="collapse navbar-collapse center">
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item switch">
        <input [(ngModel)]="creationMode" name="toggle" type="checkbox">
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" (click)="chooseCreate()" translate>Create</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top: 60px">
  <div class="col-centered center-text">
    <a translate>Provide the patients ID and click enter</a>
  </div>
  <div class="col-2 col-centered">
    <input [(ngModel)]="patientID" (keyup.enter)="performAction()" type="text" class="form-control top-margin"
           placeholder="ID">
  </div>
</div>
