<div class="top-margin">
  <div class="col-10 col-centered">
    <table class="table table-inverse rounded">
      <thead>
      <tr>
        <th class="center-text" translate>Full name</th>
        <th class="center-text" translate>Username</th>
        <th class="center-text" translate>Email</th>
        <th class="center-text" translate>Status</th>
        <th class="center-text" translate>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="center-text">
          <a>{{user.fullName}}</a>
        </td>
        <td class="center-text">
          <a>{{user.username}}</a>
        </td>
        <td class="center-text">
          <a>{{user.email}}</a>
        </td>
        <td class="center-text">
          <a>{{user.status}}</a>
        </td>
        <td class="center-text">
          <label for="deactivate" translate>Deactivate user</label>
          <i class="material-icons" (click)="deactivate(user)" id="deactivate">delete</i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
